@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply min-h-full min-w-full overflow-x-auto bg-slate-950 text-white;
}

.header-link.active {
  @apply text-blue-500;
}

.anticon.anticon-left,
.anticon.anticon-right {
  @apply text-white;
}

li .ant-pagination-item:not(.ant-pagination-item-active) > a {
  background-color: white !important;
}

span .ant-pagination-item-ellipsis {
  background-color: white !important;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-400 {
  animation-delay: 0.4s;
}
